.root {
  --shadow-color: 0deg 0% 63%;
  min-height: 100dvh;
}

.swipe-deck-wrapper {
  --card-size: 500px;

  anchor-name: --swipe-deck-anchor;

  position: relative;
  isolation: isolate;
  outline: 1px solid red;
  overflow-x: scroll;
  white-space: nowrap;
  width: var(--card-size);
  scroll-snap-type: inline mandatory;
}

.swipe-deck-card {
  --hue: calc(18 * var(--index));
  --color: oklch(100% 100% var(--hue));

  container-type: size;
  view-timeline: --swipe-timeline inline;

  outline: 1px solid green;
  height: var(--card-size);
  width: var(--card-size);
  display: inline-block;
  scroll-snap-align: center;

  & > span {
    --max-offset: 240px;
    --max-rotation: 12deg;
    --min-scale: 0.3;

    border-radius: 24px;
    z-index: -1;
    background-color: var(--color);
    display: inline-block;
    position: fixed;
    position-anchor: --swipe-deck-anchor;
    top: calc(anchor(top) + 30px);
    right: calc(anchor(right) + 5%);
    bottom: calc(anchor(bottom) + 30px);
    left: calc(anchor(left) + 5%);
    box-shadow:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);

    animation-timeline: --swipe-timeline;
    animation-name: swipe;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-range: entry -500% exit 600%;
  }
}

@keyframes swipe {
  0% {
    z-index: -10;
    transform: scale(var(--min-scale)) rotate(var(--max-rotation))
      translateX(var(--max-offset));
  }

  50% {
    z-index: -1;
    transform: scale(1) translateX(0px);
  }

  100% {
    z-index: -10;
    transform: scale(var(--min-scale)) rotate(calc(var(--max-rotation) * -1))
      translateX(calc(var(--max-offset) * -1));
  }
}
